@media(max-width: 1090px)
{
.toggle
{
  display:block;


}
header
{
  padding:0 0;
  background:#1c1c1c; rgba(255, 255, 255, .5);
}
header ul {
  width: 100%;
  top:9px;
  display: none;
}
header ul.active
{
  display: block;
}
header ul li a
{

  margin:0;
  display: block;
  text-align: center;
  color: #ffff;
  background:rgba(0,0,0,.5);



}